<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) Timur Iskhakov.
  ~ Distributed under the terms of the MIT License.
-->


<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.iskhakovt.yandextest.test"
    android:sharedUserId="com.example.iskhakovt.yandextest.uid">

    <uses-sdk tools:overrideLibrary="android.support.test.uiautomator.v18"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.SET_ANIMATION_SCALE" />

    <application />

</manifest>
